{
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "rangeStart": 0,
  "rangeEnd": 1000,
  "vueIndentScriptAndStyle": false
}
